@charset "utf-8";

.headline {width: 100%;height: 300px;min-width: 1263px;
			background:linear-gradient(to bottom right, rgba(0,0,0,0.7),
rgba(0,0,0,0.0)),url(../img/headline.jpg) no-repeat center;}
.headline .center {width: 1263px;
					height: 300px;
					margin: 0 auto;}
.headline hgroup {
				padding: 100px 0 0 50px;}
.headline h2 {
color: #eee;
font-size: 36px;
letter-spacing: 1px;
}
.headline h3 {
color: #eee;
letter-spacing: 1px;
font-size: 20px;
}

#container {	width: 1263px;
				
				margin: 30px auto;}
#container .asidebar {	width: 340px;
						
						
						float: right;}
#container .sidebox {	border: 1px solid #eee;
						margin: 0 0 10px 0;
						text-align: center;}
#container .sidebox h2 {font-size: 20px;
						font-weight: normal;
						letter-spacing: 1px;
						height: 40px;
						line-height: 40px;
						text-indent: 10px;
						background-color: #fafafa;
						color: #666;
						text-align: left;}
#container .sidebox .tag {padding: 10px 0;
							text-align: center;}	
#container .sidebox .tag li {display: inline-block;
							margin: 5px 0;
							width: 100px;
							height: 35px;
							line-height: 35px;
							color: #999;
							background-color: #eee;
							text-align: left;
							text-indent: 8px;
					}	
#container .sidebox .tag a {display: block;color: #999;}
#container .tag a:hover {
							background-color: #458b00;
							color: #fff;}	

#container figure {display: inline-block;
						color: #666;
						padding: 4px;
						margin: 0;} 
#container .figure {padding: 10px 0;}
#container .box {padding: 10px 0;}
#container .box a{  	display: inline-block;
					margin: 2px 0;
					width: 150px;
					height: 40px;
					line-height: 40px;
					color: #999;
					background-color: #eee;
					text-align: left;
					text-indent: 35px;}
#container .box a.trea1 {background: #eee url(../img/trea1.png) no-repeat 10px center;}
#container .box a.trea2 { background: #eee url(../img/trea2.png) no-repeat 10px center;}
#container .box a.trea3 {  background:#eee url(../img/trea3.png) no-repeat 10px center;}
#container .box a.trea4 {  background:#eee url(../img/trea4.png) no-repeat 10px center;}
#container .list {	width: 910px;										
					float: left;}
#container .information .infor {height: 45px;
					line-height: 45px;
					margin: 0 0 20px 0;
					background-color: #eee;} 
#container ul.left {display: inline-block;
					float: left;



					}
#container ul.left li {
						width: 150px;
						height: 43px;
						line-height: 43px;
						font-size: 18px;
						display: inline-block;}
#container ul.left li a {display: block;
text-align: center;color: #666;}
#container ul.left li:first-child {ackground-color: #fff;
									border-top: 2px solid #458B00;
									position: relative;
									left: 1px;}
#container ul.right {display: inline-block;
					float: right;
					padding: 0 20px 0 0;}
#container ul.right li {display: inline-block;
						width: 60px;
						height: 45px;
						line-height: 45px;
						font-size: 16px;
						text-align: center;}
#container ul.right li a {padding: 3px 8px;
							color: #666;}
#container ul.right li a.selected,#container ul.right li a:hover {
						background-color: #458B00;
					color: #fff;}				
#container .tour {
	height: 230px;
	border: 1px solid #eee;
	margin: 0 0 20px 0;
	padding: 0;
	position: relative;
}
#container .tour img {
	float: left;
}
#container .tour figcaption {
	width: 528px;
	height: 230px;
	float: right;
}
#container .tour hgroup {
	width: 300px;
	margin: 0;
	padding: 0;
}
#container .tour h2 {
	font-size: 24px;
	font-weight: normal;
	padding: 10px 0 10px 25px;
	color: #333;
}
#container .tour h3 {
	font-size: 16px;
	font-weight: normal;
	padding: 10px 0 10px 25px;
	line-height: 1.5;
	color: #666;
}
#container .tour footer {
	width: 528px;
	height: 35px;
	line-height: 35px;
	text-indent: 25px;
	color: #666;
	position: absolute;
	bottom: 0;
	background-color: #fafafa;
	letter-spacing: 1px;
}
#container .tour ol {
	padding: 0 0 0 25px;
	color: #666;
	line-height: 2;
	margin: 0;
	list-style: none;
}
#container .tour mark {
	padding: 0px 5px;
	border-radius: 4px;
	color: #458B00;
	border: 1px solid #458B00;
	background-color: #fff;
}
#container .tour .buy {
	position: absolute;
	top: 55px;
	right: 30px;
}
#container .tour s {
	font-size: 16px;
	color: #999;
}
#container .tour .price {
	font-size: 20px;
	color: #f60;
}
#container .tour strong {
	font-size: 36px;
}
#container .tour .reserve {
	margin: 10px 0 0 0;
}
#container .tour .reserve a {
	display: inline-block;
	width: 152px;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	background-color: #f60;
	color: #fff;
	font-size: 20px;
	text-align: center;
}
#container .tour .type {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #59b200;
	width: 90px;
	height: 25px
	line-height:25px;
	text-align: center;
	border-bottom-right-radius: 4px;
	font-size: 14px;
	color: #fff;
	letter-spacing: 1px;
}
#container .tour .disc {
	width: 52px;
	height: 52px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../img/disc.png) no-repeat;}
#container .tour .disc span {
	display: block;
	color: #ff7a4d;
	width: 52px;
	height: 52px;
	font-size: 14px;
	transform: rotate(45deg);
	padding: 5px 0 0 0;
	text-indent:7px ;
}
#container .last h2 {
	font-size: 22px;

}
#container .more {
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	border: 1px solid #ccc;
	margin: 0 auto;
	border-radius: 10px;
	cursor: pointer;
	background-color: #fafafa;
}

#container .ticket {
	color: #666;
} 
#container .ticket h2 {
	color: #666;
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	font-weight: normal;
	border-bottom: 1px dashed #999;
	padding: 0 0 15px 0;
}
#container .ticket .type {
	font-size: 20px;
	margin: 20px 0 10px 0;
}
#container .ticket .type mark {
	color: #fff;
	background-color: #458800;
	padding: 5px 8px;
	border-radius: 4px;
	margin: 0 10px 0 16px;
}
#container .ticket .form {
	font-size: 20px;
}
#container .ticket .form p{
	line-height:3; 
	margin: 0;
	;}
#container .ticket .form input {
	width: 250px;
	height: 30px;
	border: 1px solid #ccc;
	background-color:#fff;
	padding: 5px;
	border-radius: 4px;
	font-size: 18px;
	color: #666;
	margin: 0 0 0 16px;
}
#container .ticket .left {
	display: inline-block;
	width: 43%;
}
#container .ticket .right {
	display: inline-block;
	width: 43%;
	
}
#container .ticket .button {
	display: inline-block;
	width: 8%;
}
#container .ticket .submit {
	display: inline-block;
	width: 90px;
	height: 90px;
	line-height:90px;
	background-color: #f60;
	border-radius: 4px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border:none;
	cursor: pointer;
	position: relative;
	top: -28px;
}
#container .ticket .new {
	margin: 20px 0 0 0 ;
	font-size: 20px;
}
#container .ticket .new ul {
	margin: 20px 0 0 0;
}
#container .ticket .new li {
	display: inline-block;
	padding: 5px 10px;
}
#container .ticket .new li:first-child {
	padding-left: 0;
}
#container .ticket .new li:nth-child(2) {
	background-color: #458B00;
	border-radius: 4px;
	color: #fff;
	}
#container .ticket table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ddd;
	margin: 20px 0 0 0;
}
#container .ticket table th {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
	font-weight: normal;
}
#container .ticket table tr {
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
#container .ticket table tr:nth-child(2n) {
	background-color: #fafafa;
}
#container .ticket table tr:hover {
	background-color: #eee;
}
#container .ticket table .price {
	color: #f60;
}
#container .ticket table .reserve {
	display: inline-block;
	width: 80px;
	height: 35px;
	line-height: 35px;
	border-radius: 4px;
	background-color: #f60;
	color: #fff;
	font-size: 20px;
	text-align: center;
}
#container .ticket table .more2 {
	font-size: 18px;
	text-align: center;
	color: #666;
	cursor: pointer;
	margin: 0 auto;
	display: block;
}
#container .scenery figure {
	border: 1px solid #ddd;
	display: inline-block;
	padding: 4px;
	border-radius: 4px;
	width: 435px;
	margin: 15px 5px 15px 0;
	text-align: left;
}
#container .scenery figcaption {
	text-align: center;
	padding: 5px 0;
	font-size: 20px;
	color: #666;
}
#container .about h2 ,#container .scenery h2{
	color: #666;
}
#container .about p {
	font-size: 20px;
	color: #666;
	line-height: 2;
	margin: 20px 0;
}
#container .about address {
	font-style: normal;
	font-size: 20px;
	color: #666;
	margin: 20px 0;
	line-height: 1.6;
}