@charset "utf-8";

body{
	
	margin: 0;
	
	}
table{width: 960px;
	height:700px;
	border:0px solid green;
	margin: 0 auto;
	border-spacing: 0px;
	}
.header {background-color:olive; 
		height: 100px;}
.aside {background-color: purple;
		width: 260px;
		height: 500px;}
.section{background-color: maroon;
		width: 700px;
		height: 500px;}
.footer {background-color: gray;
		height: 100px;}