@charset "utf-8";
html {
	font-size: 625%;
}
body,h1,h2,h3,h4,p,ul,ol,form,fieldset,figure {
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
	font-size: 0.16rem;

}
ul,ol {
	list-style: outside none none;
}
a {
	text-decoration: none;
}
img {
	display: block;
	max-width: 100%;
}
div,figure,figcaption {
box-sizing: border-box;
}
.none {
	display: none;
}
.clearfix:after {
	content: ".";
	background-color: red;
	display: block;
	clear: both;
	visibility: hidden;

}
#header {
	width: 100%;
	height: .45rem;
	background-color: #333;
	font-size: 0.16rem;
	position: fixed;
	top: 0;
	z-index: 9999;
}
#header .link {
	height: .45rem;
	line-height: .45rem;
	color: #eee;
}
#header .link li {
	width: 25%;
	text-align: center;
	float: left;
}
#header .link a {
	color: #eee;
	display: block;
}
#header .link a:hover, 
#header .first a {
	background-color: #000;
}
#adver {
	max-width: 6.4rem;
	margin: 0 auto;
	padding: 0.45rem 0 0 0;
}
#search {
	max-width: 6.4rem;
	background-color: #ddd;
	margin: 0 auto;
	padding: 0.03rem 0 0 0;
	height: 0.33rem;
	line-height: 0.33rem;
	position: relative;

}
#search .search {
	display: block;
	outline: none;
	width: 95%;
	height:0.27rem;
	margin: 0 auto;
	font-size: .14rem;
	border-radius: .04rem;
	background-color: #fff;
	border: none;
 	padding: 0 0.05rem;
}
#search .button {
	display: block;
	position: absolute;
	top: .03rem;
	right: 1%;
	background-color: #eee;
	outline: none;
	cursor: pointer;
	color: #666;
	width: .5rem;
	height: .27rem;
	border: none;
	border-top-right-radius: .04rem;
	border-bottom-right-radius: .04rem;
	font-size: 0.12rem;
}
#tour {
	max-width: 6.4rem;

	margin: 0.1rem auto 0 auto;
}
#tour h2 {
	font-size: .26rem;
	text-align: center;
	color: #666;
	
}
#tour h3 {
	text-align: center;
	font-weight: normal;
	color: #666;
	margin: 0.05rem 0 0.1rem 0;
	font-size: .16rem;
}

#tour figure {
	width: 50%;
	float: left;
	margin: 0 0 .05rem 0;
	background-color: #eee;
	font-size: .16rem;
}
#tour figure img {
	padding: .02rem;
	vertical-align: middle;
	border-radius: .04rem;
}
#tour figcaption {
	color: #666;
	padding: .02rem .05rem;
}
#tour figcaption h4 {
	font-weight: normal;
	display: block;
	padding: .05rem 0;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
#tour figcaption p {
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
#tour .info {
	padding: .1rem 0 0 0;
	font-size: .16rem;
}
#tour .price{
	color: #f60;
}
#tour .price strong {
	letter-spacing: 0.01rem;
}
#tour .sat {
	
	float: right;
	font-style:normal;
	position: relative;
 	right: .05rem;
 	color: #999;
}
#footer {
	max-width: 6.4rem;
	background-color: #222;
	color: #777;
	margin: 0 auto;
	text-align: center;
	padding: .1rem 0;
	clear: both;
}
#footer .top {
	padding: 0 0 .05rem 0;
}


#headline {
	max-width: 6.4rem;
	margin: 0 auto;
	
	position: relative;
}
#headline hgroup {
	position: absolute;
	top: 35%;
	left: 10%;
}
#headline h2 {
	color: #eee;
	letter-spacing: 0.01rem;
	font-size: .22rem;
}
#headline h3 {
	color: #eee;
	letter-spacing: 0.01rem;
	font-size: .14rem;
}
.list {
	max-width: 6.4rem;
	margin:  .15rem auto;
	font-size: .16rem;
	padding: 0 .1rem;
	color: #666;
	clear: both;
	}
.list  section h2 {
	font-size: .20rem;
	border-bottom: 1px dashed #999;
	padding: .15rem 0 .15rem 0;
}
.about p {
	line-height: 2;
	margin: .2rem 0;
}
.about address {
	font-style: normal;
	margin: .2rem 0;
	line-height: 1.6;
}

.section {
	max-width: 6.4rem;
	margin: .10rem auto;
	color: #999;
	letter-spacing: 0.01rem;
	font-size: .22rem;
	
	padding: .15rem 0 .15rem 0;
}
.section section {
	border-bottom: 1px dashed #999;
	padding:0 0 .15rem 0;
}
.section figure:after {
	content:".";
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
}
.section figure {
	position: relative;
	margin: .15rem 0 0 0;

}
.section figure img {
	width: 50%;
	float: left;
}
.section figcaption {
	width: 48%;
	float: right;
	}
.section figcaption .title {
	border: none;
	padding: 0 0 0.05rem 0;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.section figcaption .small_title{
	font-weight: normal;
	padding: 0;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.section figcaption .price {
	position: absolute;
	bottom: 0;
}
.section figcaption .price strong {
	color: #f60;
	font-size: .26rem;
	}

 .ticket h2 {
	color: #666;
	
	
	
	font-weight: normal;
	border-bottom:0.01rem dashed #999;
	padding: 0 0 0.15rem 0;
}
 .ticket .type {
	border:none;
	margin: 0.2rem 0 0.1rem 0;
}
.ticket .type mark {
	color: #fff;
	background-color: #458800;
	padding:0.05rem 0.08rem;
	border-radius: 0.04rem;
	margin: 0 0.1rem 0 0.16rem;
}
.ticket .form {
	font-size: 0.2rem;
	border: none;
}
.ticket .form p{
	
	margin: 0.1rem 0
	;}
.ticket .form label {
	display: block;
	margin: 0 0 0.05rem 0;
	font-size: .16rem;
}
.ticket .form input {
	width: 97%;
	
	border: 0.01rem solid #ccc;
	background-color:#fff;
	padding: 0.05rem;
	border-radius: 0.04rem;
	
	color: #666;
	
}


.ticket .submit {
	display: block;
	width: 30%;
	
	margin: 0 auto;
	background-color: #f60;
	border-radius: 0.04rem;
	color: #fff;
	padding: 0.1rem;
	text-align: center;
	border:none;
	cursor: pointer;
	}
.ticket .new {
	margin: 0.2rem 0 0 0 ;

}
.ticket .new ul {
	margin: 0.2rem 0 0 0;
}
.ticket .new li {
	display: inline-block;
	padding: 0.05rem 0.1rem;
}
#.ticket .new li:first-child {
	padding-left: 0;
}
.ticket .new li:nth-child(2) {
	background-color: #458B00;
	border-radius: 0.04rem;
	color: #fff;
	}
.ticket table {
	width: 100%;
	border-collapse: collapse;
	border: 0.01rem solid #ddd;
	margin: 0.2rem 0 0 0;
}
.ticket table th {
	
	padding: 0.1rem 0;
	border-bottom: 0.01rem solid #ddd;
	font-weight: normal;
}
.ticket table tr {
	padding: 0.1rem 0;
	text-align: center;
	border-bottom: 0.01rem solid #ddd;
}
.ticket table tr:nth-child(2n) {
	background-color: #fafafa;
}
.ticket table tr:hover {
	background-color: #eee;
}
.ticket table .price {
	color: #f60;
}
.ticket table .reserve {
	display: inline-block;
	
	
	padding: 0.05rem 0.1rem;
	border-radius: 0.04rem;
	background-color: #f60;
	color: #fff;
	
	text-align: center;
}
#container .ticket table .more2 {
	display: none;
	text-align: center;
	color: #666;
	cursor: pointer;
	margin: 0 auto;
	display: block;
}
@media (min-width: 480px) and (max-width: 640px) {
	#tour h2 ,.section figcaption .price strong{
	font-size: .26rem;
	}
	#tour h3 ,#tour figure, #tour .info,#footer,.list,.section figcaption h3,.ticket .form
label{
	font-size: .16rem;
	}
	#headline h2,.section figcaption h2 {
	font-size: .22rem;
	}
	#headline h3 {
	font-size: .14rem;
	}
@media (max-width: 480px) {
	#tour h2,{
	font-size: .20rem;
	}
	#tour h3 ,#tour .info,#tour figure,.list,.section figcaption h3,.ticket .form label{
	font-size: .14rem;
	}
	#footer {
	font-size: .12rem;
	}
	#headline h2 ,.section figcaption h2,.section figcaption .price strong {
	font-size: .18rem;
	}
	#headline h3 {
	font-size: .12rem;
	}
}