@charset "utf-8";

body{margin:100px;}
div{width: 200px;
	height: 200px;
	
	border:1px solid blue;
	animation: myani 1s ease 2 alternate 0s both;}
@keyframes myani {
	0% {background-color: green;;
		color: orange;
		margin-left: 0px}
	100%{background-color: white;
		color: white;
		margin-left: 100px}
}