@charset "utf-8";


#search {width: 100%;height: 600px;min-width: 1263px;position: relative;}
#search {background:url(../img/search.jpg) no-repeat center}
#search .center {width:600px;height:60px;position: absolute;background-color: #000;top:50%;left:50%;margin:-30px 0 0 -300px;border-radius: 10px;opacity: 0.6;   }
#search .search {width: 446px;height: 54px;position: absolute;top: 50%;left: 50%;margin: -28px 0 0 -295px;
				font-size:24px;border: 1px solid #666;border-radius: 10px;color:#666;padding: 0 10px;outline: none }
#search .button {width: 120px; height: 54px;position: absolute;top: 50%;left: 50%;margin: -27px 0 0 176px;border: 1px solid #666;
				border-radius: 10px;outline: none;background-color: #eee;cursor:pointer;border: none; font-size: 24px}

#tour {width: 1263px;height: 1150px;
		text-align: center;margin: 30px auto;}
#tour .center h2 {margin:10px 0;
					font-size: 45px;letter-spacing: 2px;color: #666; }
#tour .center p {margin: 10px 0;
				color: #666;}
#tour figure {border: 1px solid #ddd;
				padding: 4px;
				width:380px;
				border-radius: 4px;
				margin: 15px 12px;
				text-align: left;
				position: relative;
				display: inline-block;
				 }
#tour figure img {vertical-align: center;}
#tour figure figcaption {color: #777;
						font-size: 14px;
						padding: 7px 0 5px 0;
						letter-spacing: 1px;
						line-height: 1.5;}
#tour .info {padding:5px 0 0 0;}
#tour .title {color: #333;
				font-weight: normal;}
#tour .sat {float: right;color: #999;
			font-size: 13px;
			font-style: normal;
			position: relative;
			right: 5px;
			top: 5px;
			}
#tour .price {color: #f60;
				font-size: 14px;}
#tour .price strong {
				font-size: 20px;
				letter-spacing: 1px;
}
#tour .type {color: white;
				background-color: green;
				width: 90px;
				height:25px;
				line-height: 25px;
				text-align: center;
				font-size: 14px;
				letter-spacing: 1px;
				border-bottom-right-radius: 4px;
				position: absolute;
				top: 4px;
				left: 4px;
			}
